{% extends 'shop/base.html' %}
{% block body %}
{% block head %}
{% load static %}
<title>Blog</title>
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Recursive:wght@300&family=Workbench&display=swap" rel="stylesheet">
{%endblock%}


<div class="container text-center">
  <header>
    <h1>Home Blog</h1>
    <main>
      {% if blog %}
      {% for blog in blog %}
      <article>
        <!-- {{blog.id}} -->
        <h2><a class="display-1" href="{% url 'blog_detail' blog.slug %}">{{blog.title}}</a></h2><br>
        <img src="/media/{{blog.image}}">
        <p>{{blog.content|truncatewords:25 |safe}}</p>
        <h4><a class="btn btn-success" href="{% url 'blog_detail' blog.slug %}">Read more..</a></h4><br>
        <p class="post-meta">Created At :- {{blog.created_at}}</p>
        <br><br><br>
      </article>
      <br>
      <hr><br><br>
      {%endfor%}

      {%else%}
      <h1>No Blog Has Been Posted</h1>
      {%endif%}



</div>
<script>
  setInterval(function random() {
    var h1 = document.querySelectorAll('h1')
    var h2 = document.querySelectorAll('h2')
    var p = document.querySelectorAll('p')

    var x = Math.floor(Math.random() * 255);
    var y = Math.floor(Math.random() * 255);
    var z = Math.floor(Math.random() * 255);
    var bgcolor = "rgb(" + x + "," + y + "," + z + ")";
    var bgcolor2 = "rgb(" + z + "," + x + "," + x + ")";


    h1[0].style.color = bgcolor



  }, 800)
</script>
</main {%endblock%}